### Header

In [1]:
# import libraries

# maths
import numpy as np
import pandas as pd
#import scipy.stats as stats
#from pandas.api.types import is_numeric_dtype

# visual
#from matplotlib_venn import venn2
#import seaborn as sns
#import matplotlib.pyplot as plt
#%matplotlib inline

# modelling
# from sklearn import linear_model
# from sklearn.linear_model import Ridge,LinearRegression,LogisticRegression
# from sklearn.model_selection import train_test_split,cross_val_score,GridSearchCV
# from sklearn.preprocessing import StandardScaler,PolynomialFeatures
# from sklearn.metrics import r2_score,mean_squared_error,confusion_matrix,accuracy_score
# from sklearn.pipeline import make_pipeline,Pipeline

# nlp
# from sklearn.feature_extraction.text import CountVectorizer,HashingVectorizer,TfidfVectorizer
# from sklearn.naive_bayes import MultinomialNB
# from nltk.stem import PorterStemmer,WordNetLemmatizer
# from nltk.tokenize import sent_tokenize, word_tokenize
# from nltk.corpus import stopwords
# from nltk.sentiment.vader import SentimentIntensityAnalyzer
# import spacy
# from spacy.tokens import Doc

# web
#import requests
#import json

# others
import os
import re
import time
import datetime as datetime

In [2]:
# file paths

input_path = '../data/2_input/'
clean_path = '../data/3_clean/'
output_path = '../data/4_output/'

image_path = '../images/'

### Import Data

In [3]:
train = pd.read_csv(input_path+'train.csv')
test = pd.read_csv(input_path+'test.csv')

### Inspect Data

In [4]:
train.head()

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
2,2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9,1,0
3,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,1,0
4,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,4,0

In [5]:
test.head()

,Id,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy
0,1,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
1,2,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
2,3,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
3,4,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX SALINARIUS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
4,5,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX TERRITANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9

### Clean Data

In [6]:
def create_yr(x): 
    return x.split('-')[0] 

def create_mth(x): 
    return x.split('-')[1] 

def create_day(x): 
    return x.split('-')[2] 

def rename_columns (columns):
    return [column.lower() for column in columns]

def clean_data(df): 
    df['year'] = df.Date.apply(create_yr)
    df['month'] = df.Date.apply(create_mth)
    df['day'] = df.Date.apply(create_day)
    
    #df['latitude'] = df.Latitude.apply(int)
    #df['longitude'] = df.Longitude.apply(int)
    df['latitude'] = df.Latitude
    df['longitude'] = df.Longitude
    
    df.drop(['Address', 'AddressNumberAndStreet', 'AddressAccuracy', 'Date', 'Latitude', 'Longitude'], axis = 1, inplace = True)
    df.columns = rename_columns(df.columns)
    return df

train = clean_data(train)
test = clean_data(test)

In [7]:
#train[train.nummosquitos==50].shape

#train[train.nummosquitos==50]

#train[train.duplicated()]

#col = [col for col in train.columns if col not in ['nummosquitos','wnvpresent']]

#col

#train.groupby(train.columns.tolist(),as_index=False).size()

#train.duplicated(col).sum()

#train[train.duplicated(col)]

#test.duplicated().sum()

In [8]:
# cols = ['species','trap','year','month', 'day','latitude','longitude']
# cols = ['species','trap','year','month', 'day']

# mask_dulipcated = train.duplicated(subset=cols, keep=False)

# print(train[mask_dulipcated].shape)
# train[mask_dulipcated]

In [9]:
# merge nummosquitos and wnvpresent for duplicated rows

train_2 = train.copy()

cols = ['species','trap','year','month', 'day','latitude','longitude']

for row_idx,row in train_2.iterrows():
    
    if row_idx > 0:
        
        duplicate_count = 0        
        
        for col in cols:
            
            if train_2.at[row_idx,col] == train_2.at[row_idx-1,col]:
                duplicate_count += 1               
                
        if duplicate_count == len(cols):
            train_2.at[row_idx,'nummosquitos'] = train_2.at[row_idx-1,'nummosquitos'] + train_2.at[row_idx,'nummosquitos']
            train_2.at[row_idx,'wnvpresent'] = train_2.at[row_idx-1,'wnvpresent'] + train_2.at[row_idx,'wnvpresent']

# remove duplicated rows (keep only last row)
train_2.drop_duplicates(subset=cols, keep='last',inplace=True)

In [10]:
# check total nummosquitos and wnvpresent

print(train['nummosquitos'].sum())
print(train['wnvpresent'].sum())
print('')
print(train_2['nummosquitos'].sum())
print(train_2['wnvpresent'].sum())
print('')
print(train_2['wnvpresent'].unique())
print('')

135039
551

135039
551

[ 0  1  2  3 10  7  6  4  9  8  5]

In [11]:
# convert wnvpresent: total count to 0 or 1

for row_idx,row in train_2.iterrows():
    
    if row['wnvpresent'] > 1:
        #print(row_idx,row['wnvpresent'])
        train_2.at[row_idx,'wnvpresent'] = 1
        
print(train_2['wnvpresent'].sum())
print(train_2['wnvpresent'].unique())

457
[0 1]

### Output Data

In [12]:
train_2.head()

,species,block,street,trap,nummosquitos,wnvpresent,year,month,day,latitude,longitude
0,CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,1,0,2007,05,29,41.954690,-87.800991
1,CULEX RESTUANS,41,N OAK PARK AVE,T002,1,0,2007,05,29,41.954690,-87.800991
2,CULEX RESTUANS,62,N MANDELL AVE,T007,1,0,2007,05,29,41.994991,-87.769279
3,CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,1,0,2007,05,29,41.974089,-87.824812
4,CULEX RESTUANS,79,W FOSTER AVE,T015,4,0,2007,05,29,41.974089,-87.824812

In [13]:
test.head()

,id,species,block,street,trap,year,month,day,latitude,longitude
0,1,CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,2008,06,11,41.95469,-87.800991
1,2,CULEX RESTUANS,41,N OAK PARK AVE,T002,2008,06,11,41.95469,-87.800991
2,3,CULEX PIPIENS,41,N OAK PARK AVE,T002,2008,06,11,41.95469,-87.800991
3,4,CULEX SALINARIUS,41,N OAK PARK AVE,T002,2008,06,11,41.95469,-87.800991
4,5,CULEX TERRITANS,41,N OAK PARK AVE,T002,2008,06,11,41.95469,-87.800991

In [14]:
train_2.to_csv(clean_path+'train_clean.csv',index=False)
test.to_csv(clean_path+'test_clean.csv',index=False)