### Header

In [1]:
# import libraries

# maths
import numpy as np
import pandas as pd
import scipy.stats as stats
from pandas.api.types import is_numeric_dtype

# visual
#from matplotlib_venn import venn2
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# modelling
from sklearn import linear_model
from sklearn.linear_model import Ridge,LinearRegression,LogisticRegression
from sklearn.model_selection import train_test_split,cross_val_score,GridSearchCV
from sklearn.preprocessing import StandardScaler,PolynomialFeatures
from sklearn.metrics import r2_score,mean_squared_error,confusion_matrix,accuracy_score
from sklearn.pipeline import make_pipeline,Pipeline
from sklearn.utils import resample

# nlp
from sklearn.feature_extraction.text import CountVectorizer,HashingVectorizer,TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from nltk.stem import PorterStemmer,WordNetLemmatizer
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.corpus import stopwords
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import spacy
from spacy.tokens import Doc

# web
import requests
import json

# others
import os
import re
import time
import datetime as datetime

In [2]:
# file paths

input_path = '../data/2_input/'
clean_path = '../data/3_clean/'
output_path = '../data/4_output/'

image_path = '../images/'

### Functions

### Import Data

In [3]:
# import clean data

df_train = pd.read_csv(clean_path + 'train_clean.csv')
df_test = pd.read_csv(clean_path + 'test_clean.csv')
df_weather = pd.read_csv(clean_path + 'weather_clean.csv')
#df_spray = pd.read_csv(clean_path + 'spray_clean.csv')

In [4]:
majority_class = df_train[df_train['wnvpresent']==0]
minority_class = df_train[df_train['wnvpresent']==1]

### Preprocessing

In [5]:
df_train.shape

(8475, 11)

In [6]:
df_test.shape

(116293, 10)

In [7]:
test = df_test.drop('id', axis=1)
train = df_train.drop(['nummosquitos', 'wnvpresent'], axis=1)
combined_train_test = pd.concat([test,train])
combined_train_test.shape

(124768, 9)

In [8]:
all_dataset = combined_train_test.merge(df_weather, how='left', on=['year','month','day'])
all_dataset.shape

(249536, 30)

In [11]:
all_dataset

,species,block,street,trap,year,month,day,latitude,longitude,station,...,codesum,depth,water1,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed
0,CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,2008,6,11,41.954690,-87.800991,1,...,NaN,0.0,NaN,0.0,0.0,29.28,29.99,8.9,18,10.0
1,CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,2008,6,11,41.954690,-87.800991,2,...,NaN,NaN,NaN,NaN,0.0,29.34,29.97,9.4,18,10.4
2,CULEX RESTUANS,41,N OAK PARK AVE,T002,2008,6,11,41.954690,-87.800991,1,...,NaN,0.0,NaN,0.0,0.0,29.28,29.99,8.9,18,10.0
3,CULEX RESTUANS,41,N OAK PARK AVE,T002,2008,6,11,41.954690,-87.800991,2,...,NaN,NaN,NaN,NaN,0.0,29.34,29.97,9.4,18,10.4
4,CULEX PIPIENS,41,N OAK PARK AVE,T002,2008,6,11,41.954690,-87.800991,1,...,NaN,0.0,NaN,0.0,0.0,29.28,29.99,8.9,18,10.0
5,CULEX PIPIENS,41,N OAK PARK AVE,T002,2008,6,11,41.954690,-87.800991,2,...,NaN,NaN,NaN,NaN,0.0,29.34,29.97,9.4,18,10.4
6,CULEX SALINARIUS,41,N OAK PARK AVE,T002,2008,6,11,41.954690,-87.800991,1,...,NaN,0.0,NaN,0.0,0.0,29.28,29.99,8.9,18,10.0
7,CULEX SALINARIUS,41,N OAK PARK AVE,T002,2008,6,11,41.954690,-87.800991,2,...,NaN,NaN,NaN,NaN,0.0,29.34,29.97,9.4,18,10.4
8,CULEX TERRITANS,41,N OAK PARK AVE,T002,2008,6,11,41.954690,-87.800991,1,...,NaN,0.0,NaN,0.0,0.0,29.28,29.99,8.9,18,10.0
9,CULEX TERRITANS,41,N OAK PARK AVE,T002,2008,6,11,41.954690,-87.800991,2,...,NaN,NaN,NaN,NaN,0.0,29.34,29.97,9.4,18,10.4
10,CULEX TARSALIS,41,N OAK PARK AVE,T002,2008,6,11,41.954690,-87.800991,1,...,NaN,0.0,NaN,0.0,0.0,29.28,29.99,8.9,18,10.0
11,CULEX TARSALIS,41,N OAK PARK AVE,T002,2008,6,11,41.954690,-87.800991,2,...,NaN,NaN,NaN,NaN,0.0,29.34,29.97,9.4,18,10.4
12,UNSPECIFIED CULEX,41,N OAK PARK AVE,T002,2008,6,11,41.954690,-87.800991,1,...,NaN,0.0,NaN,0.0,0.0,29.28,29.99,8.9,18,10.0
13,UNSPECIFIED CULEX,41,N OAK PARK AVE,T002,2008,6,11,41.954690,-87.800991,2,...,NaN,NaN,NaN,NaN,0.0,29.34,29.97,9.4,18,10.4
14,CULEX ERRATICUS,41,N OAK PARK AVE,T002,2008,6,11,41.954690,-87.800991,1,...,NaN,0.0,NaN,0.0,0.0,29.28,29.99,8.9,18,10.0
15,CULEX ERRATICUS,41,N OAK PARK AVE,T002,2008,6,11,41.954690,-87.800991,2,...,NaN,NaN,NaN,NaN,0.0,29.34,29.97,9.4,18,10.4
16,CULEX PIPIENS/RESTUANS,62,N MANDELL AVE,T007,2008,6,11,41.994991,-87.769279,1,...,NaN,0.0,NaN,0.0,0.0,29.28,29.99,8.9,18,10.0
17,CULEX PIPIENS/RESTUANS,62,N MANDELL AVE,T007,2008,6,11,41.994991,-87.769279,2,...,NaN,NaN,NaN,NaN,0.0,29.34,29.97,9.4,18,10.4
18,CULEX RESTUANS,62,N MANDELL AVE,T007,2008,6,11,41.994991,-87.769279,1,...,NaN,0.0,NaN,0.0,0.0,29.28,29.99,8.9,18,10.0
19,CULEX RESTUANS,62,N MANDELL AVE,T007,2008,6,11,41.994991,-87.769279,2,...,NaN,NaN,NaN,NaN,0.0,29.34,29.97,9.4,18,10.4
20,CULEX PIPIENS,62,N MANDELL AVE,T007,2008,6,11,41.994991,-87.769279,1,...,NaN,0.0,NaN,0.0,0.0,29.28,29.99,8.9,18,10.0
21,CULEX PIPIENS,62,N MANDELL AVE,T007,2008,6,11,41.994991,-87.769279,2,...,NaN,NaN,NaN,NaN,0.0,29.34,29.97,9.4,18,10.4
22,CULEX SALINARIUS,62,N MANDELL AVE,T007,2008,6,11,41.994991,-87.769279,1,...,NaN,0.0,NaN,0.0,0.0,29.28,29.99,8.9,18,10.0
23,CULEX SALINARIUS,62,N MANDELL AVE,T007,2008,6,11,41.994991,-87.769279,2,...,NaN,NaN,NaN,NaN,0.0,29.34,29.97,9.4,18,10.4
24,CULEX TERRITANS,62,N MANDELL AVE,T007,2008,6,11,41.994991,-87.769279,1,...,NaN,0.0,NaN,0.0,0.0,29.28,29.99,8.9,18,10.0
25,CULEX TERRITANS,62,N MANDELL AVE,T007,2008,6,11,41.994991,-87.769279,2,...,NaN,NaN,NaN,NaN,0.0,29.34,29.97,9.4,18,10.4
26,CULEX TARSALIS,62,N MANDELL AVE,T007,2008,6,11,41.994991,-87.769279,1,...,NaN,0.0,NaN,0.0,0.0,29.28,29.99,8.9,18,10.0
27,CULEX TARSALIS,62,N MANDELL AVE,T007,2008,6,11,41.994991,-87.769279,2,...,NaN,NaN,NaN,NaN,0.0,29.34,29.97,9.4,18,10.4
28,UNSPECIFIED CULEX,62,N MANDELL AVE,T007,2008,6,11,41.994991,-87.769279,1,...,NaN,0.0,NaN,0.0,0.0,29.28,29.99,8.9,18,10.0
29,UNSPECIFIED CULEX,62,N MANDELL AVE,T007,2008,6,11,41.994991,-87.769279,2,...,NaN,NaN,NaN,NaN,0.0,29.34,29.97,9.4,18,10.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249506,CULEX PIPIENS/RESTUANS,51,N MONT CLARE AVE,T223,2013,9,26,41.973845,-87.805059,1,...,BR,0.0,NaN,0.0,0.0,29.34,30.04,3.8,8,4.2
249507,CULEX PIPIENS/RESTUANS,51,N MONT CLARE AVE,T223,2013,9,26,41.973845,-87.805059,2,...,NaN,NaN,NaN,NaN,0.0,29.40,30.04,4.1,9,4.6
249508,CULEX PIPIENS,51,N MONT CLARE AVE,T223,2013,9,26,41.973845,-87.805059,1,...,BR,0.0,NaN,0.0,0.0,29.34,30.04,3.8,8,4.2
249509,CULEX PIPIENS,51,N MONT CLARE AVE,T223,2013,9,26,41.973845,-87.805059,2,...,NaN,NaN,NaN,NaN,0.0,29.40,30.04,4.1,9,4.6
249510,CULEX PIPIENS/RESTUANS,82,S KOSTNER AVE,T225,2013,9,26,41.743402,-87.731435,1,...,BR,0.0,NaN,0.0,0.0,29.34,30.04,3.8,8,4.2
249511,CULEX PIPIENS/RESTUANS,82,S KOSTNER AVE,T225,2013,9,26,41.743402,-87.731435,2,...,NaN,NaN,NaN,NaN,0.0,29.40,30.04,4.1,9,4.6
249512,CULEX PIPIENS/RESTUANS,65,E 91ST PL,T227,2013,9,26,41.728495,-87.600963,1,...,BR,0.0,NaN,0.0,0.0,29.34,30.04,3.8,8,4.2
249513,CULEX PIPIENS/RESTUANS,65,E 91ST PL,T227,2013,9,26,41.728495,-87.600963,2,...,NaN,NaN,NaN,NaN,0.0,29.40,30.04,4.1,9,4.6
249514,CULEX PIPIENS,65,E 91ST PL,T227,2013,9,26,41.728495,-87.600963,1,...,BR,0.0,NaN,0.0,0.0,29.34,30.04,3.8,8,4.2
249515,CULEX PIPIENS,65,E 91ST PL,T227,2013,9,26,41.728495,-87.600963,2,...,NaN,NaN,NaN,NaN,0.0,29.40,30.04,4.1,9,4.6
249516,CULEX PIPIENS/RESTUANS,17,W ADDISON ST,T224,2013,9,26,41.947227,-87.671457,1,...,BR,0.0,NaN,0.0,0.0,29.34,30.04,3.8,8,4.2
249517,CULEX PIPIENS/RESTUANS,17,W ADDISON ST,T224,2013,9,26,41.947227,-87.671457,2,...,NaN,NaN,NaN,NaN,0.0,29.40,30.04,4.1,9,4.6
249518,CULEX PIPIENS/RESTUANS,90,W GARFIELD BLVD,T226,2013,9,26,41.793818,-87.654234,1,...,BR,0.0,NaN,0.0,0.0,29.34,30.04,3.8,8,4.2
249519,CULEX PIPIENS/RESTUANS,90,W GARFIELD BLVD,T226,2013,9,26,41.793818,-87.654234,2,...,NaN,NaN,NaN,NaN,0.0,29.40,30.04,4.1,9,4.6
249520,CULEX PIPIENS/RESTUANS,13,N LARAMIE AVE,T230,2013,9,26,41.904194,-87.756155,1,...,BR,0.0,NaN,0.0,0.0,29.34,30.04,3.8,8,4.2
249521,CULEX PIPIENS/RESTUANS,13,N LARAMIE AVE,T230,2013,9,26,41.904194,-87.756155,2,...,NaN,NaN,NaN,NaN,0.0,29.40,30.04,4.1,9,4.6
249522,CULEX PIPIENS,13,N LARAMIE AVE,T230,2013,9,26,41.904194,-87.756155,1,...,BR,0.0,NaN,0.0,0.0,29.34,30.04,3.8,8,4.2
249523,CULEX PIPIENS,13,N LARAMIE AVE,T230,2013,9,26,41.904194,-87.756155,2,...,NaN,NaN,NaN,NaN,0.0,29.40,30.04,4.1,9,4.6
249524,CULEX PIPIENS/RESTUANS,39,N SPRINGFIELD AVE,T228,2013,9,26,41.951866,-87.725057,1,...,BR,0.0,NaN,0.0,0.0,29.34,30.04,3.8,8,4.2
249525,CULEX PIPIENS/RESTUANS,39,N SPRINGFIELD AVE,T228,2013,9,26,41.951866,-87.725057,2,...,NaN,NaN,NaN,NaN,0.0,29.40,30.04,4.1,9,4.6
249526,CULEX PIPIENS/RESTUANS,51,W 72ND ST,T035,2013,9,26,41.763733,-87.742302,1,...,BR,0.0,NaN,0.0,0.0,29.34,30.04,3.8,8,4.2
249527,CULEX PIPIENS/RESTUANS,51,W 72ND ST,T035,2013,9,26,41.763733,-87.742302,2,...,NaN,NaN,NaN,NaN,0.0,29.40,30.04,4.1,9,4.6
249528,CULEX PIPIENS/RESTUANS,58,N RIDGE AVE,T231,2013,9,26,41.987280,-87.666066,1,...,BR,0.0,NaN,0.0,0.0,29.34,30.04,3.8,8,4.2
249529,CULEX PIPIENS/RESTUANS,58,N RIDGE AVE,T231,2013,9,26,41.987280,-87.666066,2,...,NaN,NaN,NaN,NaN,0.0,29.40,30.04,4.1,9,4.6
249530,CULEX PIPIENS/RESTUANS,17,N ASHLAND AVE,T232,2013,9,26,41.912563,-87.668055,1,...,BR,0.0,NaN,0.0,0.0,29.34,30.04,3.8,8,4.2
249531,CULEX PIPIENS/RESTUANS,17,N ASHLAND AVE,T232,2013,9,26,41.912563,-87.668055,2,...,NaN,NaN,NaN,NaN,0.0,29.40,30.04,4.1,9,4.6
249532,CULEX PIPIENS/RESTUANS,71,N HARLEM AVE,T233,2013,9,26,42.009876,-87.807277,1,...,BR,0.0,NaN,0.0,0.0,29.34,30.04,3.8,8,4.2
249533,CULEX PIPIENS/RESTUANS,71,N HARLEM AVE,T233,2013,9,26,42.009876,-87.807277,2,...,NaN,NaN,NaN,NaN,0.0,29.40,30.04,4.1,9,4.6
249534,CULEX PIPIENS/RESTUANS,42,W 65TH ST,T235,2013,9,26,41.776428,-87.627096,1,...,BR,0.0,NaN,0.0,0.0,29.34,30.04,3.8,8,4.2
249535,CULEX PIPIENS/RESTUANS,42,W 65TH ST,T235,2013,9,26,41.776428,-87.627096,2,...,NaN,NaN,NaN,NaN,0.0,29.40,30.04,4.1,9,4.6

In [9]:
#minority_upsampled = resample( minority_class, replace=True, n_samples=majority_class.shape[0], random_state=42)
#train_resampled = pd.concat([minority_upsampled,majority_class])
#train_resampled.wnvpresentd.value_counts()

In [10]:
#train_resampled.head()