In [1]:
# code from jngyun
# cheekeet: don't know put where

#train = df_get_dum[df_get_dum['year']%2!=0]
#test = df_get_dum.loc[df_get_dum['year']%2==0]

### Header

In [2]:
# user configurations

output_data = False

In [3]:
# import libraries

# maths
import numpy as np
import pandas as pd
import scipy.stats as stats
from pandas.api.types import is_numeric_dtype

# visual
#from matplotlib_venn import venn2
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# modelling
from sklearn import linear_model
from sklearn.linear_model import Ridge,LinearRegression,LogisticRegression
from sklearn.model_selection import train_test_split,cross_val_score,GridSearchCV
from sklearn.preprocessing import StandardScaler,PolynomialFeatures
from sklearn.metrics import r2_score,mean_squared_error,confusion_matrix,accuracy_score, roc_auc_score, roc_curve
from sklearn.pipeline import make_pipeline,Pipeline
from sklearn.utils import resample, shuffle
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import AdaBoostClassifier, BaggingClassifier, RandomForestClassifier
from sklearn.cluster import KMeans, DBSCAN

# nlp
from sklearn.feature_extraction.text import CountVectorizer,HashingVectorizer,TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB, BernoulliNB, GaussianNB
from sklearn.neighbors import KNeighborsRegressor, KNeighborsClassifier
from sklearn.svm import SVC
from nltk.stem import PorterStemmer,WordNetLemmatizer
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.corpus import stopwords
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import spacy
from spacy.tokens import Doc

# web
import requests
import json

# others
import os
import re
import time
import datetime as datetime

In [4]:
# file paths

input_path = '../data/2_input/'
clean_path = '../data/3_clean/'
output_path = '../data/4_output/'

image_path = '../images/'

### Functions

### Import Data

In [5]:
# import clean data

df_train = pd.read_csv(clean_path + 'train_clean.csv')
df_test = pd.read_csv(clean_path + 'test_clean.csv')
df_weather = pd.read_csv(clean_path + 'weather_clean.csv')
#df_spray = pd.read_csv(clean_path + 'spray_clean.csv')

### Combine df_train and df_test

In [6]:
# show df_train and df_test info

print(df_train.shape)
print(df_test.shape)
print('')
print(df_train.columns)
print('')
print(df_test.columns)

(8475, 11)
(116293, 10)

Index(['species', 'block', 'street', 'trap', 'latitude', 'longitude',
       'nummosquitos', 'wnvpresent', 'year', 'month', 'day'],
      dtype='object')

Index(['id', 'species', 'block', 'street', 'trap', 'latitude', 'longitude',
       'year', 'month', 'day'],
      dtype='object')

In [7]:
# old method

#Combines test and train datasets for processing
# test = df_test.drop('id', axis=1) #id not in train dataset
# train = df_train.drop(['nummosquitos', 'wnvpresent'], axis=1) #nummosquitos and wnvpresent not in test dataset
# combined_train_test = pd.concat([test,train])
# combined_train_test.shape

In [8]:
# df_train: missing id column
# add id column


df_train['is_train'] = 1
df_train['id'] = -1

# df_test: missing nummosquitos and wnvpresent columns
# add this columns

df_test['is_train'] = 0
df_test['nummosquitos'] = -1
df_test['wnvpresent'] = -1

In [9]:
# check df_train

df_train.head()

,species,block,street,trap,latitude,longitude,nummosquitos,wnvpresent,year,month,day,is_train,id
0,CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,41.954690,-87.800991,1,0,2007,5,29,1,-1
1,CULEX RESTUANS,41,N OAK PARK AVE,T002,41.954690,-87.800991,1,0,2007,5,29,1,-1
2,CULEX RESTUANS,62,N MANDELL AVE,T007,41.994991,-87.769279,1,0,2007,5,29,1,-1
3,CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,41.974089,-87.824812,1,0,2007,5,29,1,-1
4,CULEX RESTUANS,79,W FOSTER AVE,T015,41.974089,-87.824812,4,0,2007,5,29,1,-1

In [10]:
# check df_test

df_test.head()

,id,species,block,street,trap,latitude,longitude,year,month,day,is_train,nummosquitos,wnvpresent
0,1,CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,41.95469,-87.800991,2008,6,11,0,-1,-1
1,2,CULEX RESTUANS,41,N OAK PARK AVE,T002,41.95469,-87.800991,2008,6,11,0,-1,-1
2,3,CULEX PIPIENS,41,N OAK PARK AVE,T002,41.95469,-87.800991,2008,6,11,0,-1,-1
3,4,CULEX SALINARIUS,41,N OAK PARK AVE,T002,41.95469,-87.800991,2008,6,11,0,-1,-1
4,5,CULEX TERRITANS,41,N OAK PARK AVE,T002,41.95469,-87.800991,2008,6,11,0,-1,-1

In [11]:
# combine df_train and df_test

df_train_test = pd.concat([df_train,df_test])

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

In [12]:
# check df_train_test

df_train_test.head()

,block,day,id,is_train,latitude,longitude,month,nummosquitos,species,street,trap,wnvpresent,year
0,41,29,-1,1,41.954690,-87.800991,5,1,CULEX PIPIENS/RESTUANS,N OAK PARK AVE,T002,0,2007
1,41,29,-1,1,41.954690,-87.800991,5,1,CULEX RESTUANS,N OAK PARK AVE,T002,0,2007
2,62,29,-1,1,41.994991,-87.769279,5,1,CULEX RESTUANS,N MANDELL AVE,T007,0,2007
3,79,29,-1,1,41.974089,-87.824812,5,1,CULEX PIPIENS/RESTUANS,W FOSTER AVE,T015,0,2007
4,79,29,-1,1,41.974089,-87.824812,5,4,CULEX RESTUANS,W FOSTER AVE,T015,0,2007

### Pre-process Data

In [13]:
# Using weather data only from Station 1

cond = df_weather['station'] == 1
df_weather_stn_1 = df_weather[cond]

In [14]:
# combines df_weather_stn_1 and df_train_test

df_all = df_train_test.merge(df_weather_stn_1, how='left', on=['year','month','day'])

In [15]:
# check df_all

#df_all.to_csv(output_path + 'df_all.csv', index=False)

df_all.head()

,block,day,id,is_train,latitude,longitude,month,nummosquitos,species,street,...,heat,cool,sunrise,sunset,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed
0,41,29,-1,1,41.954690,-87.800991,5,1,CULEX PIPIENS/RESTUANS,N OAK PARK AVE,...,0,9,421,1917,0.0,29.39,30.11,5.8,18,6.5
1,41,29,-1,1,41.954690,-87.800991,5,1,CULEX RESTUANS,N OAK PARK AVE,...,0,9,421,1917,0.0,29.39,30.11,5.8,18,6.5
2,62,29,-1,1,41.994991,-87.769279,5,1,CULEX RESTUANS,N MANDELL AVE,...,0,9,421,1917,0.0,29.39,30.11,5.8,18,6.5
3,79,29,-1,1,41.974089,-87.824812,5,1,CULEX PIPIENS/RESTUANS,W FOSTER AVE,...,0,9,421,1917,0.0,29.39,30.11,5.8,18,6.5
4,79,29,-1,1,41.974089,-87.824812,5,4,CULEX RESTUANS,W FOSTER AVE,...,0,9,421,1917,0.0,29.39,30.11,5.8,18,6.5

### Create Dummies

In [16]:
# old method
#Get dummies for categorical data

# df_get_dum = pd.concat([all_dataset, pd.get_dummies(all_dataset[['species', 'street', 'trap']],drop_first=True)], axis=1)
# df_get_dum.drop(['species', 'street', 'trap'], inplace =True, axis=1)
# df_get_dum.shape

In [17]:
#Get dummies for categorical data

dum_cols = ['species', 'street', 'trap']
df_dum = pd.get_dummies(df_all, columns=dum_cols, drop_first=True)

In [18]:
# check dataframe

#df_dum.to_csv(output_path + 'df_dum.csv', index=False)
df_dum.head()

,block,day,id,is_train,latitude,longitude,month,nummosquitos,wnvpresent,year,...,trap_T231,trap_T232,trap_T233,trap_T234,trap_T235,trap_T236,trap_T237,trap_T238,trap_T900,trap_T903
0,41,29,-1,1,41.954690,-87.800991,5,1,0,2007,...,0,0,0,0,0,0,0,0,0,0
1,41,29,-1,1,41.954690,-87.800991,5,1,0,2007,...,0,0,0,0,0,0,0,0,0,0
2,62,29,-1,1,41.994991,-87.769279,5,1,0,2007,...,0,0,0,0,0,0,0,0,0,0
3,79,29,-1,1,41.974089,-87.824812,5,1,0,2007,...,0,0,0,0,0,0,0,0,0,0
4,79,29,-1,1,41.974089,-87.824812,5,4,0,2007,...,0,0,0,0,0,0,0,0,0,0

In [19]:
#Splits out train dataset and re-attach wnvpresent column
# train = df_get_dum.iloc[:8475]
# wnv = pd.DataFrame(df_train['wnvpresent'])
# train_with_wnv = train.merge(wnv, left_on=train.index, right_on=wnv.index) 
# train_with_wnv.shape

In [20]:
# split df_dum into df_train_2 and df_test_2

mask_train = df_dum['is_train'] == 1
mask_test = df_dum['is_train'] == 0

df_train_2 = df_dum[mask_train]
df_test_2 = df_dum[mask_test]

In [21]:
# drop invalid columns and reset index

cols = ['is_train','id']
df_train_2.drop(columns=cols, inplace=True)

df_train_2.reset_index(drop=True, inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [22]:
# drop invalid columns and reset index

cols = ['is_train','nummosquitos','wnvpresent']
df_test_2.drop(columns=cols, inplace=True)

df_test_2.reset_index(drop=True, inplace=True)

In [23]:
# check df

print(df_train_2.shape)
df_train_2.head()

(8475, 318)

,block,day,latitude,longitude,month,nummosquitos,wnvpresent,year,station,tmax,...,trap_T231,trap_T232,trap_T233,trap_T234,trap_T235,trap_T236,trap_T237,trap_T238,trap_T900,trap_T903
0,41,29,41.954690,-87.800991,5,1,0,2007,1,88,...,0,0,0,0,0,0,0,0,0,0
1,41,29,41.954690,-87.800991,5,1,0,2007,1,88,...,0,0,0,0,0,0,0,0,0,0
2,62,29,41.994991,-87.769279,5,1,0,2007,1,88,...,0,0,0,0,0,0,0,0,0,0
3,79,29,41.974089,-87.824812,5,1,0,2007,1,88,...,0,0,0,0,0,0,0,0,0,0
4,79,29,41.974089,-87.824812,5,4,0,2007,1,88,...,0,0,0,0,0,0,0,0,0,0

In [24]:
# check df

print(df_test_2.shape)
df_test_2.head()

(116293, 317)

,block,day,id,latitude,longitude,month,year,station,tmax,tmin,...,trap_T231,trap_T232,trap_T233,trap_T234,trap_T235,trap_T236,trap_T237,trap_T238,trap_T900,trap_T903
0,41,11,1,41.95469,-87.800991,6,2008,1,86,61,...,0,0,0,0,0,0,0,0,0,0
1,41,11,2,41.95469,-87.800991,6,2008,1,86,61,...,0,0,0,0,0,0,0,0,0,0
2,41,11,3,41.95469,-87.800991,6,2008,1,86,61,...,0,0,0,0,0,0,0,0,0,0
3,41,11,4,41.95469,-87.800991,6,2008,1,86,61,...,0,0,0,0,0,0,0,0,0,0
4,41,11,5,41.95469,-87.800991,6,2008,1,86,61,...,0,0,0,0,0,0,0,0,0,0

In [25]:
#Splits out test dataset
# test = df_get_dum.loc[8475:]
# test.shape

In [26]:
#Splits train dataset into majority and minority classes based on wnvpresent column 1, 0
# majority_class = train_with_wnv[train_with_wnv['wnvpresent']==0]
# minority_class = train_with_wnv[train_with_wnv['wnvpresent']==1]

In [27]:
# Splits train dataset into majority and minority classes based on wnvpresent column 1, 0

mask_wnv_no = df_train_2['wnvpresent'] == 0
mask_wnv_yes = df_train_2['wnvpresent'] == 1

df_train_major = df_train_2[mask_wnv_no]
df_train_minor = df_train_2[mask_wnv_yes]

In [28]:
# check df

print(df_train_major.shape)
df_train_major.head()

(8018, 318)

,block,day,latitude,longitude,month,nummosquitos,wnvpresent,year,station,tmax,...,trap_T231,trap_T232,trap_T233,trap_T234,trap_T235,trap_T236,trap_T237,trap_T238,trap_T900,trap_T903
0,41,29,41.954690,-87.800991,5,1,0,2007,1,88,...,0,0,0,0,0,0,0,0,0,0
1,41,29,41.954690,-87.800991,5,1,0,2007,1,88,...,0,0,0,0,0,0,0,0,0,0
2,62,29,41.994991,-87.769279,5,1,0,2007,1,88,...,0,0,0,0,0,0,0,0,0,0
3,79,29,41.974089,-87.824812,5,1,0,2007,1,88,...,0,0,0,0,0,0,0,0,0,0
4,79,29,41.974089,-87.824812,5,4,0,2007,1,88,...,0,0,0,0,0,0,0,0,0,0

In [29]:
# check df

print(df_train_minor.shape)
df_train_minor.head()

(457, 318)

,block,day,latitude,longitude,month,nummosquitos,wnvpresent,year,station,tmax,...,trap_T231,trap_T232,trap_T233,trap_T234,trap_T235,trap_T236,trap_T237,trap_T238,trap_T900,trap_T903
526,38,18,41.686398,-87.531635,7,63,1,2007,1,85,...,0,0,0,0,0,0,0,0,0,0
563,12,25,41.673408,-87.599862,7,644,1,2007,1,85,...,0,0,0,0,0,0,0,0,0,0
564,12,25,41.673408,-87.599862,7,2356,1,2007,1,85,...,0,0,0,0,0,0,0,0,0,0
657,41,1,41.954690,-87.800991,8,104,1,2007,1,92,...,0,0,0,0,0,0,0,0,0,0
661,79,1,41.974089,-87.824812,8,11,1,2007,1,92,...,0,0,0,0,0,0,0,0,0,0

In [30]:
#Resamples minority class i.e. wnvpresent = 1, with duplicates to increase representation
# minority_upsampled = resample( minority_class, replace=True, n_samples=majority_class.shape[0], random_state=42)
# train_resampled = pd.concat([minority_upsampled,majority_class])
# train_resampled.wnvpresent.value_counts()

In [31]:
#Resamples minority class i.e. wnvpresent = 1, with duplicates to increase representation

df_train_minor_upsample = resample(df_train_minor, replace=True, n_samples=df_train_major.shape[0], random_state=42)
df_train_3 = pd.concat([df_train_minor_upsample,df_train_major])

In [32]:
# check df

wnvpresent_count = df_train_3.wnvpresent.value_counts()
print('wnvpresent_count:',wnvpresent_count)

print(df_train_3.shape)
df_train_3.head()

wnvpresent_count: 1    8018
0    8018
Name: wnvpresent, dtype: int64
(16036, 318)

,block,day,latitude,longitude,month,nummosquitos,wnvpresent,year,station,tmax,...,trap_T231,trap_T232,trap_T233,trap_T234,trap_T235,trap_T236,trap_T237,trap_T238,trap_T900,trap_T903
1595,17,21,41.911824,-87.726737,8,28,1,2007,1,87,...,0,0,0,0,0,0,0,0,0,0
8236,12,12,41.673408,-87.599862,9,186,1,2013,1,82,...,0,0,0,0,0,0,0,0,0,0
7803,58,22,41.986921,-87.689778,8,7,1,2013,1,78,...,0,0,0,0,0,0,0,0,0,0
7118,61,19,41.923738,-87.785288,7,23,1,2013,1,96,...,0,0,0,0,0,0,0,0,0,0
1616,52,21,41.797616,-87.797894,8,13,1,2007,1,87,...,0,0,0,0,0,0,0,0,0,0

In [33]:
#Shuffles dataset
# df = shuffle(train_resampled, random_state=42)
# df.reset_index(drop=True, inplace=True)
# df.head()

In [34]:
# Shuffles dataset

df_train_4 = shuffle(df_train_3, random_state=42)
df_train_4.reset_index(drop=True, inplace=True)

In [35]:
# check df

print(df_train_4.shape)
df_train_4.head()

(16036, 318)

,block,day,latitude,longitude,month,nummosquitos,wnvpresent,year,station,tmax,...,trap_T231,trap_T232,trap_T233,trap_T234,trap_T235,trap_T236,trap_T237,trap_T238,trap_T900,trap_T903
0,10,11,41.721474,-87.648064,7,15,0,2007,1,77,...,0,0,0,0,0,0,0,0,0,0
1,45,6,41.963976,-87.691810,9,82,1,2013,1,86,...,0,0,0,0,0,0,0,0,0,0
2,36,24,41.944869,-87.832763,8,9,1,2007,1,80,...,0,0,0,0,0,0,0,0,0,0
3,73,4,41.759346,-87.745602,10,11,0,2007,1,82,...,0,0,0,0,0,0,0,0,0,0
4,10,24,41.726465,-87.585413,6,1,0,2011,1,68,...,0,0,0,0,0,0,0,0,0,0

### Create Feature Matrix and Target

In [36]:
# create X and y

feature_cols = list(df_train_4.columns)
feature_cols.remove('wnvpresent')

X = df_train_4[feature_cols]
y= df_train_4['wnvpresent']

# create train and validation sets
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.33, random_state=42)

In [37]:
# check train_test_split

print(X_train.shape)
print(X_valid.shape)
print(y_train.shape)
print(y_valid.shape)

(10744, 317)
(5292, 317)
(10744,)
(5292,)

In [38]:
X_train.head()

,block,day,latitude,longitude,month,nummosquitos,year,station,tmax,tmin,...,trap_T231,trap_T232,trap_T233,trap_T234,trap_T235,trap_T236,trap_T237,trap_T238,trap_T900,trap_T903
10839,12,1,41.673408,-87.599862,8,7,2013,1,81,61,...,0,0,0,0,0,0,0,0,0,0
6760,71,29,42.009876,-87.807277,8,150,2013,1,89,66,...,0,0,1,0,0,0,0,0,0,0
15032,17,1,41.912563,-87.668055,8,1,2013,1,81,61,...,0,1,0,0,0,0,0,0,0,0
1901,70,18,41.916265,-87.800515,7,1,2007,1,85,69,...,0,0,0,0,0,0,0,0,0,0
1180,71,25,41.766202,-87.562889,7,18,2013,1,81,57,...,0,0,0,0,0,0,0,0,0,0

In [39]:
X_valid.head()

,block,day,latitude,longitude,month,nummosquitos,year,station,tmax,tmin,...,trap_T231,trap_T232,trap_T233,trap_T234,trap_T235,trap_T236,trap_T237,trap_T238,trap_T900,trap_T903
8377,10,2,41.721474,-87.648064,7,2,2007,1,79,53,...,0,0,0,0,0,0,0,0,0,0
6187,50,2,41.803423,-87.642984,8,3,2007,1,91,70,...,0,0,0,0,0,0,0,0,0,0
123,52,4,41.778297,-87.752411,9,14,2007,1,89,63,...,0,0,0,0,0,0,0,0,0,0
10543,46,15,41.964242,-87.757639,8,55,2007,1,80,71,...,0,0,0,0,0,0,0,0,0,0
12702,89,19,41.733643,-87.555510,8,1,2011,1,87,64,...,0,0,0,0,0,0,0,0,0,0

### Modelling using Pipeline

In [40]:
# init estimators

estimators = {
    'Lr': LogisticRegression(),
    'Knn': KNeighborsClassifier(n_neighbors=5),
    'Dtree': DecisionTreeClassifier(),
    'Rf': RandomForestClassifier(),
    'NaiveBayes' : GaussianNB()
}.items()

In [41]:
# using pipeline and standardscaler on estimators

for k,v in estimators:
    
    pipe = Pipeline([
        ('sc', StandardScaler()),
        (k,v)])
    
    model = pipe.fit(X_train,y_train)
    y_pred = model.predict(X_valid)
    
    model_score = model.score(X_valid,y_valid)
    roc_score = roc_auc_score(y_valid,y_pred)    
    print('{} score: {} AUC/ROC: {}'.format(k, model_score, roc_score))

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:467: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, y, **fit_params).transform(X)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\pipeline.py:331: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\pipeline.py:511: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)

Lr score: 0.8159486016628874 AUC/ROC: 0.8156850393700787

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:467: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, y, **fit_params).transform(X)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\pipeline.py:331: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\pipeline.py:511: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)

Knn score: 0.9066515495086923 AUC/ROC: 0.9059047619047619

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:467: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, y, **fit_params).transform(X)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\pipeline.py:331: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\pipeline.py:511: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)

Dtree score: 0.9701436130007559 AUC/ROC: 0.9699047619047618

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:467: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, y, **fit_params).transform(X)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\pipeline.py:331: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\pipeline.py:511: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)

Rf score: 0.9814814814814815 AUC/ROC: 0.9813333333333334

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:467: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, y, **fit_params).transform(X)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\pipeline.py:331: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\pipeline.py:511: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)

NaiveBayes score: 0.5835222978080121 AUC/ROC: 0.5801904761904761

In [ ]:
# RandomForestClassifier gives the best score
# output prediction to files

pipe = Pipeline([
        ('sc', StandardScaler()),
        ('rf',RandomForestClassifier())])

model = pipe.fit(X_train,y_train)

In [ ]:
submission = pd.DataFrame()
submission['WnvPresent'] = model.predict(test)
submission['Id'] = submission.index + 1
submission[['Id', 'WnvPresent']].to_csv(output_path+'submission_rf.csv', index = False)

### Model B

In [ ]:
ss = StandardScaler()
X_train = ss.fit_transform(X_train)
X_test = ss.transform(X_test)
# Kaggle Submission preprocessing 
test_kaggle = ss.transform(test)

In [ ]:
lr_params = {'penalty':['l1', 'l2'], 
             'C': np.logspace(-5, 2, 10)}
gs = GridSearchCV(LogisticRegression(), param_grid = lr_params)
gs.fit(X_train, y_train)

# Results 
gs.best_score_, gs.best_params_

In [ ]:
gs.score(X_test, y_test)

In [ ]:
params = {
    'max_depth': [None, 2,3],
    'min_samples_split' : [2,3,4],
    'min_samples_leaf':[1,2,3],
    'max_features':[None, 'sqrt', 'log2']
}

gs_dtc = GridSearchCV(DecisionTreeClassifier(),params)
gs_dtc.fit(X_train, y_train)

In [ ]:
gs_dtc.score(X_test, y_test)

In [ ]:
params = {
    'C' : [.5, 1.0, 1.5],
    'kernel' : ['rbf', 'linear','sigmoid' ]
}
gs_sv = GridSearchCV(SVC(probability=True, gamme = 'auto'), params, cv = 5)
gs_sv.fit(X_train, y_train)

In [ ]:
gs_sv.score(X_test, y_test)

In [ ]:
params = {
    'n_estimators' : [10,100,1000],
    'max_depth': [None, 5, 10, 20, 30],
    'min_samples_split' : [2, 5, 10],
    'min_samples_leaf':[1, 2, 4],
    'max_features':[None,'auto', 'sqrt', 'log2']
}

gs_rf = GridSearchCV(RandomForestClassifier(),params, cv = 5, verbose = 1, n_jobs = -1)
gs_rf.fit(X_train, y_train)
gs_rf.score(X_test, y_test)

In [ ]:
opt_rf = gs_rf.best_estimator_
opt_rf.fit(X_train, y_train)
submission = pd.DataFrame()
submission['WnvPresent'] = opt_rf.predict(test)
submission['Id'] = submission.index + 1
submission[['Id', 'WnvPresent']].to_csv(output_path+'submission_rfv2.csv', index = False)

### Model C

### Output Data

In [ ]:
# output model predictions to csv

# data/04_output folder contains 3 subfolders:
# submit: output files submitted to kaggle
# output: output files not submitted to kaggle
# error: output files with error (not submitted to kaggle)

if output_data == True:    

    timestamp = dt.datetime.now()
    timestamp = timestamp.strftime(" %Y_%m_%d %H_%M_%S ")

    df.to_csv(output_path + 'output' + timestamp + '.csv', index=False)